params {
    user_id = 'test'
    redsheet = "s3://ecd-rosalind/pipelines/ecd/test_files/test_redsheet.csv"
    manifestdir = 's3://ecd-rosalind/pipelines/ecd/test_files/manifests/'
    fastq_rootdir = 's3://ecd-rosalind/pipelines/ecd/test_files/'
    reference = "s3://ecd-rosalind/pipelines/ecd/test_files/chr22_bwa_index/chr22.fa"

    publish_dir = 's3://ecd-rosalind/demo/tower-output/results'
    outdir = 's3://ecd-rosalind/demo/tower-output/'

    MULTI_METRICS_PROGRAMS = 'CollectAlignmentSummaryMetrics,QualityScoreDistribution,CollectGcBiasMetrics'

    container_python = 'python'
    container_fastp = 'nanozoo/fastp'
    container_bwa_samtools = 'mblanche/bwa-samtools' // 'dukegcb/bwa-samtools' //'mblanche/bwa-samtools'
    container_sambamba = 'mgibio/sambamba-cwl:0.6.4'
    container_picard = 'kothap2/picard:latest'
    container_mosdepth = 'nanozoo/mosdepth:0.3.2--892ca95'
    container_multiqc = "mattwherlock/multiqc:1.12"
    container_collateqc = "collateqc:latest"

    fastp_threads = 2
    bwamem_threads = 2
    sambamba_merge_threads = 2
    sambamba_markdup_threads = 2
    mosdepth_threads = 1

    disk_merge_fastqs = 4
    disk_fastp = 4
    disk_bwamem = 4
    disk_sambamba_merge = 4
    disk_sambamba_markdup = 4
    disk_picard_CISM = 4
    disk_picard_CMM = 4
    disk_mosdepth = 4
    disk_multiqc = 4

    // merge fastqs
    sid = "Test01_S1_L001"
    r11 = "s3://ecd-rosalind/pipelines/ecd/test_files/test_fastq_per_lane/220128_A00628_0352_AHCLHFDSX3/Test01_S1_L001_R1_001.fastq.gz"
    r12 = "s3://ecd-rosalind/pipelines/ecd/test_files/test_fastq_per_lane/220128_A00628_0353_BHCKVYDSX3/Test01_S1_L001_R1_001.fastq.gz"
    r21 = "s3://ecd-rosalind/pipelines/ecd/test_files/test_fastq_per_lane/220128_A00628_0352_AHCLHFDSX3/Test01_S1_L001_R2_001.fastq.gz"
    r22 = "s3://ecd-rosalind/pipelines/ecd/test_files/test_fastq_per_lane/220128_A00628_0353_BHCKVYDSX3/Test01_S1_L001_R2_001.fastq.gz"

    // fastp
    fsid = "Test01_S1_L001"
    fr1 = "s3://ecd-rosalind/pipelines/ecd/expected_output/merged.fastqs/Test01_S1_L001_R1.merged.fastq.gz"
    fr2 = "s3://ecd-rosalind/pipelines/ecd/expected_output/merged.fastqs/Test01_S1_L001_R2.merged.fastq.gz"
    
    // 
    fsid2 = "Test02_S2_L001"
    fr21 = "s3://ecd-rosalind/pipelines/ecd/expected_output/merged.fastqs/Test02_S2_L001_R1.merged.fastq.gz"
    fr22 = "s3://ecd-rosalind/pipelines/ecd/expected_output/merged.fastqs/Test02_S2_L001_R2.merged.fastq.gz"
 
    // bwa
    bsid = "Test01_S1_L001"
    br1 = "s3://ecd-rosalind/pipelines/ecd/expected_output/trimmed.fq/Test01_S1_L001_R1.trimmed.fq.gz"
    br2 = "s3://ecd-rosalind/pipelines/ecd/expected_output/trimmed.fq/Test01_S1_L001_R2.trimmed.fq.gz"

    // sambamba merge
    bmesid = "Test01_S1"
    bme1 = "s3://ecd-rosalind/pipelines/ecd/expected_output/sorted.bam/Test01_S1_L001.sorted.bam"
    bme2 = "s3://ecd-rosalind/pipelines/ecd/expected_output/sorted.bam/Test01_S1_L002.sorted.bam"
    bme3 = "s3://ecd-rosalind/pipelines/ecd/expected_output/sorted.bam/Test01_S1_L003.sorted.bam"
    bme4 = "s3://ecd-rosalind/pipelines/ecd/expected_output/sorted.bam/Test01_S1_L004.sorted.bam"

    // sambamba markdup
    bmdsid = "Test01_S1"
    bmd = "s3://ecd-rosalind/pipelines/ecd/expected_output/merged.bam/Test01_S1.merged.bam"

    // picard
    psid = "Test01_S1"
    pb = "s3://ecd-rosalind/pipelines/ecd/expected_output/markeddup.bam/Test01_S1.markeddup.bam"
    pbi = "s3://ecd-rosalind/pipelines/ecd/expected_output/markeddup.bam/Test01_S1.markeddup.bam.bai"

}

docker {
    enabled = true
    fixOwnership = true
}