params {
    user_id = 'test'
    redsheet = "s3://ecd-rosalind/pipelines/ecd/test_files/test_redsheet.csv"
    manifestdir = 's3://ecd-rosalind/pipelines/ecd/test_files/manifests/'
    fastq_rootdir = 's3://ecd-rosalind/pipelines/ecd/test_files/'
    reference = "s3://ecd-rosalind/pipelines/ecd/test_files/chr22_bwa_index/chr22.fa"

    publish_dir = 's3://ecd-rosalind/demo/tower-output/results'
    outdir = 's3://ecd-rosalind/demo/tower-output/'

    MULTI_METRICS_PROGRAMS = 'CollectAlignmentSummaryMetrics,QualityScoreDistribution,CollectGcBiasMetrics'

    container_python = 'python'
    container_fastp = 'nanozoo/fastp'
    container_bwa_samtools = 'mblanche/bwa-samtools' // 'dukegcb/bwa-samtools' //'mblanche/bwa-samtools'
    container_sambamba = 'mgibio/sambamba-cwl:0.6.4'
    container_picard = 'kothap2/picard:latest'
    container_mosdepth = 'nanozoo/mosdepth:0.3.2--892ca95'
    container_multiqc = "mattwherlock/multiqc:1.12"
    container_collateqc = "collateqc:latest"

    fastp_threads = 2
    bwamem_threads = 2
    sambamba_merge_threads = 2
    sambamba_markdup_threads = 2
    mosdepth_threads = 1

    disk_merge_fastqs = 4
    disk_fastp = 4
    disk_bwamem = 4
    disk_sambamba_merge = 4
    disk_sambamba_markdup = 4
    disk_picard_CISM = 4
    disk_picard_CMM = 4
    disk_mosdepth = 4
    disk_multiqc = 4
}

docker {
    enabled = true
    fixOwnership = true
}