params {
    user_id = 'test'
    redsheet = "s3://ecd-rosalind/redsheet-data/P9L_LC13_Pool7_-_Sequencing_ELN_1080790_24OCT2022(1).csv"
    manifestdir = 's3://ecd-rosalind/redsheet-data/manifests/'
    fastq_rootdir = 's3://ecd-rosalind/redsheet-data/manifests_P9L_LC13_Pool7/'
    reference = "s3://ecd-rosalind/redsheet-data/reference/GCA_000001405.15_GRCh38_no_alt_plus_hs38d1_analysis_set.fa"

    //publish_dir = 's3://ecd-rosalind/redsheet-data/output/tower-output/results/'
    //outdir = 's3://ecd-rosalind/redsheet-data/output/tower-output/'
    tracedir = 's3://ecd-rosalind/redsheet-data/output/tower-output/trace/'
    //tracedir = 's3://ecd-rosalind/redsheet-data/output/tower-output/sambamba-test/test1/'
    publish_dir = 's3://ecd-rosalind/redsheet-data/output/tower-output/sambamba-test/test1/'

    MULTI_METRICS_PROGRAMS = 'CollectAlignmentSummaryMetrics,QualityScoreDistribution,CollectGcBiasMetrics'

    container_python = 'python'
    container_fastp = 'nanozoo/fastp'
    container_bwa_samtools = 'mblanche/bwa-samtools' // 'dukegcb/bwa-samtools' //'mblanche/bwa-samtools'
    container_sambamba = 'mgibio/sambamba-cwl:0.6.4'
    container_picard = 'kothap2/picard:latest'
    container_mosdepth = 'nanozoo/mosdepth:0.3.2--892ca95'
    container_multiqc = "mattwherlock/multiqc:1.12"
    container_collateqc = "kothap2/collateqc:latest"

    fastp_threads = 16
    bwamem_threads = 16
    sambamba_merge_threads = 24
    sambamba_markdup_threads = 24
    mosdepth_threads = 12

    disk_merge_fastqs = 16
    disk_fastp = 16
    disk_bwamem = 48
    disk_sambamba_merge = 200
    disk_sambamba_markdup = 200
    disk_picard_CISM = 16
    disk_picard_CMM = 16
    disk_mosdepth = 16
    disk_multiqc = 16

    sampleID = 'TID_1919_P_NC-Pool-2503_1_2_1_1_S5'
    bme1 = 's3://ecd-rosalind/redsheet-data/output/tower-output/results/TID_1919_P_NC-Pool-2503_1_2_1_1_S5_L001.sorted.bam'
    bme2 = 's3://ecd-rosalind/redsheet-data/output/tower-output/results/TID_1919_P_NC-Pool-2503_1_2_1_1_S5_L002.sorted.bam'
    bme3 = 's3://ecd-rosalind/redsheet-data/output/tower-output/results/TID_1919_P_NC-Pool-2503_1_2_1_1_S5_L003.sorted.bam'
    bme4 = 's3://ecd-rosalind/redsheet-data/output/tower-output/results/TID_1919_P_NC-Pool-2503_1_2_1_1_S5_L004.sorted.bam'
}

docker {
    enabled = true
    fixOwnership = true
}

//cleanup = true
def trace_timestamp = new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')
timeline {
    enabled = true
    file    = "${params.tracedir}/${trace_timestamp}/execution_timeline_${trace_timestamp}.html"
}
report {
    enabled = true
    file    = "${params.tracedir}/${trace_timestamp}/execution_report_${trace_timestamp}.html"
}
trace {
    enabled = true
    file    = "${params.tracedir}/${trace_timestamp}/execution_trace_${trace_timestamp}.txt"
    fields = 'name,task_id,hash,native_id,status,exit,submit,start,complete,duration,realtime,queue,cpus,%cpu,peak_rss,peak_vmem,rchar,wchar'
}
